<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
  <h1>Adding CSS, JavaScript And Image using Thymeleaf</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolores ea eius eligendi, esse hic impedit
        iure iusto nam nobis nulla quam quidem ratione repellat reprehenderit sed suscipit voluptate voluptatibus.
        Aliquam beatae blanditiis cupiditate delectus dolore ea error est exercitationem id, in inventore ipsa maxime
        nobis officia, porro quaerat saepe, sint temporibus velit voluptatem. Adipisci alias, aspernatur dolorem earum,
        eligendi et eveniet fuga magni numquam quidem unde voluptates. Dignissimos earum eos inventore reiciendis saepe.
        Alias dolores odit quidem tenetur vitae?</p>
</div>
<img src="" class="profile" th:src="@{/image/yashvi.jpg}" alt="">

<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>